<!-- templates/modals/agent_modal.html -->
<div class="modal fade" id="agentModal" tabindex="-1" aria-labelledby="agentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="agentModalLabel">Add Agent</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="agent-modal-body">
        {# Render the agent form with AJAX/HTMX attributes for modal use #}
        {% include 'agent_form.html' with context %}
      </div>
    </div>
  </div>
</div> 